:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header {
  background-color: #e69538;
  width: 100%;
  margin-left: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid #dee2e6;
  border-radius: 15px 15px 0 0;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}

.sidebar {
  min-width: 220px;
  background-color: #f8f9fa;
  border-right: 3px solid #dee2e6;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.sidebar .nav-title {
  list-style: none !important;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #e17e0d;
}

.sidebar .nav-item {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
.sidebar .nav-link {
  color: #212529;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}
.sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #212529;
}
.sidebar .nav-link.active {
  background-color: #e69538;
  color: #fff;
}

.csidebarbrand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d57200;
}

.def-color {
  color: #e69538;
}

.create-btn {
  margin-left: 1.5rem;
  margin-top: 1rem;
  background-color: #d29249;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.create-modal .modal-header {
  background-color: #f0f4f7;
  margin-top: 100px;
  border-bottom: 1px solid #dee2e6;
  border-radius: 15px 15px 5px 5px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
}

.create-modal .modal-header .btn-close {
  color: #000000;
  opacity: 0.8;
}

.create-modal .modal-body {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  gap: 1rem;
  padding: 1.5rem;
}

.create-modal .modal-input {
  padding: 0.75rem;
  font-size: 0.95rem;
}

.create-modal .modal-footer {
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.modal-buttons {
  display: block;
  color: #e9ecef;
}